.body {
    background-color:aliceblue;
}
.container {
    border-color: black;
    border: solid;
    width: 500px;
    background-color: burlywood;
}
.panel {
    background-color: teal;
    width: 100px;
    height: 60px;
}
.container-fluid {
    width: auto; 
    
}