.container {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsMJt8K6BLMDwLl50G2wl0blnbssTWBsnrRMZ6bnb33IiRg_OoSQ");
}
.wrapper {
    background-color: rgb(134, 96, 46);
    width: 260px;
    justify-content: center;
    height:100px;
}
.panel-body {
    background-color: rgb(79, 172, 61);
    width: 400px;
    height: 200px;
}
#result {
    height: 60px;
    width: 100px;
    background-color: yellow;
}

.crystals {
    display: flex;
    align-items: center; 
}
.crystal {
    border: 1px solid red;
    height: 120px;
    width: 200px;
    border-radius: 4px;
    transition: box-shadow 1s;
}
.crystal:hover{
    box-shadow: 15px 15px 15px, blue;
    cursor:pointer;
    transition: box-shadow 1s;
    transform: translate(5px, 10px);
}
#previous {
    background-color: orange;
    width: 100px;
}
#win {
    background-color: blue;
    width: 100px;
    color: white;
}
#lost {
    background-color: green;
    width: 100px;
    color: yellow;
}