.wrapper {
    background: url("img/assets/images/concrete-texture.png");
}
.crystals {
    display: flex;
    border: 1px solid black;
    align-items: center; 
    justify-content: space-around;
}
.crystal {
    border: 1px solid red;
    height: 200px;
    width: 200px;
}